<IfModule mod_rewrite.c>
    RewriteEngine On
    # Evitar el bucle infinito: Si la URL YA tiene /public/, no hagas nada.
    RewriteCond %{REQUEST_URI} !^/public/
    # Si no lo tiene, mándalo a public de forma invisible.
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>